@page {
    margin: 10px 20px;
}

html {
    line-height: 1.15;
    font-size: 14px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    padding: 2px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #222;
}

.table-condensed td,
.table-condensed th {
    padding: 1px;
}

.table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.leading-none {
    line-height: 1;
}

.leading-tight {
    line-height: 1.25;
}

.leading-snug {
    line-height: 1.375;
}

.leading-normal {
    line-height: 1.5;
}

.leading-relaxed {
    line-height: 1.625;
}

.leading-loose {
    line-height: 2;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}